<%= stylesheet_link_tag('index') %>
<div class="container">
  <div class="user">
  <img src="<%= image_path('example.com.png') %>" alt="image">
    <div class= "text-container">
      <h1>Username</h1>
      <p class= "inner-text">Number of posts x</p>
    </div>
  </div>
  <div class="user">
    <img src="<%= image_path('example.com.png') %>" alt="image">
    <div class= "text-container">
      <h1>Username</h1>
      <p class= "inner-text">Number of posts x</p>
    </div>
  </div>
  <div class="user">
    <img src="<%= image_path('example.com.png') %>" alt="image">
    <div class= "text-container">
      <h1>Username</h1>
      <p class= "inner-text">Number of posts x</p>
    </div>
  </div>
  <div class="user">
   <img src="<%= image_path('example.com.png') %>" alt="image">
    <div class= "text-container">
      <h1>Username</h1>
      <p class= "inner-text">Number of posts x</p>
    </div>
  </div>
  <div class="user">
    <img src="<%= image_path('example.com.png') %>" alt="image">
    <div class= "text-container">
      <h1>Username</h1>
      <p class= "inner-text">Number of posts x</p>
    </div>
  </div>
</div>